{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Удаление новости</h1>
<hr>

{% if  object.change == "NW"  %}
<form action="" method="post">
    {% csrf_token %}
    <p>Удаляем "{{ object.title }}"?</p>
    <input type="submit" value="Delete" />
</form>
{% else %}
<h1>То что вы хотите удалить не является новостью,пост "{{object.title}}" является статьей</h1>
<a href="{% url 'Delete_Article' object.pk %}" > Удалить {{object.title}}
{% endif %}
{% endblock content %}